body{
    margin: 0px;
    width: 100%;
    background-color: #eeeeee;
    color: #9a9a9a;
    font-family: 'Roboto', sans-serif;
}
.white{
    background-color: #ffffff;
}
.margin-left-50px{
    margin-left: 50px;
}
.nav-bar-1{
    background-color: #252323;
    height: 60px;
}
.nav-1{
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 980px;
    height: 100%;
}
.logo{
    display: flex;
    justify-content: left;
    width: 100%;
}
.redes-sociais{
    display: flex;
    gap: 20px;
    justify-content: right;
    width: 100%;
    margin-right: 20px;
}
.nav-bar-2{
    background-color: #ffffff;
    height: 80px;
    border-bottom: 5px solid #efefef;
}
.nav-2{
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 980px;
    height: 100%;
}
.navegacao{
    display: flex;
    justify-content: left;
    width: 100%;
    height: 100%;
    gap: 40px;
}
.navegacao a{
    text-decoration: none;
    color: #8b8b8b;
    font-size: 16px;
    height: 100%;
    display: flex;
    align-items: center;
}
.navegacao a:hover{
    border-bottom: 3px solid #00bac6;
    color: #00bac6;
}
.search{
    display: flex;
    justify-content: right;
    width: 1%;
}
.search input{
    background-image: url('../img/icone-search.png');
    background-repeat: no-repeat;
    background-position: 95%;
    width: 190px;
    height: 30px;
    padding-left: 20px;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
}
.banner-image img{
    width: 100%;
    max-height: 450px;
    margin: 0px;
}
button.slick-prev {
    background-color: transparent;
    background-image: url('../img/anterior.png');
    font-size: 0px;
    border: none;
    height: 51px;
    width: 25px; 
    position: absolute;
    top: 170px;
    left: 300px;
    z-index: 9;
}
button.slick-next{
    background-color: transparent;
    background-image: url('../img/proximo.png');
    font-size: 0px;
    border: none;
    height: 51px;
    width: 25px;
    position: absolute;
    top: 170px;
    right: 250px;
    z-index: 9;
}
.slick-dots{
    display: flex;
    margin: 0;
    width: 100%;
    justify-content: center;
    position: absolute;
    bottom: 50px;
    z-index: 9;
}
ul.slick-dots{
    padding:0px;
	margin: 0px;
}
.slick-dots li{
    font-size: 0px;
}
.slick-dots li button{
    margin: 5px;
    background-color: transparent;
    border: 2px solid #ffffff;
    font-size: 0px;
    border-radius: 55%;
    width: 15px;
    height: 15px;
}
.slick-active button {
    background-color: #00bac6 !important;
}
.container-1{
    background-color: #ffffff;
    height: 600px;
    width: 100%;
}
.container-main{
    width: 980px;
    margin: 0 auto;
}
.container-1-text{
    padding-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.container-1-text h2{
    text-transform: uppercase;
    font-weight: 500;
}
.container-1-section {
    display: flex;
}
.section{
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.section h3 {
    font-weight: 500;
}
.section.margin-left-50px{
    margin-left: 50px;
}
#section-green{
    padding-top: 80px;
}
.photos-section{
    width: 100%;
}
.photos-section-content{
    padding-bottom: 50px;
}
.photos-content-1{
    display: flex;
    gap: 30px;
    padding-top: 50px;
}
.photos-card{
    width: 33.33%;
    border: 1px solid #c5c5c5;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
}
.photos-card img{
    width: 100%;
    height: 200px;
}
.photos-card p, h3{
    padding-left: 15px;
}
.photos-card p{
    margin-top: 0px;
}
.brand-section{
    padding-top: 50px;
    padding-bottom: 50px;
}
.brand-section img{
    width: 25%;
}
.brand-content{
    width: 100%;
    height: 50px !important;
    display: flex;
    gap: 40px;
}
.aboutUs{
    background-color: #4a524d;
}
.box-aboutUs{
    width: 100%;
    display: flex;
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.card-aboutUs{
    width: 25%;
    display: flex;
    flex-direction: column;
}
.info-2{
    border-top: 2px solid #5c5c5c;
}
.day{
    color: #828283;
    margin-top: 10px;
    display: flex;
    align-items: center ;
    justify-content: left;
    gap: 5px;
}
.contact-aboutUs{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
}
.footer{
    background-color: #2b2425;
}
.footer-nav{
    display: flex;
    justify-content: space-between;
}
.social{
    display: flex;
    align-items: center;
    gap: 15px;
}